# Ignore the virtual environment directory
.venv/

# Ignore compiled Python files
*.pyc

# Ignore IDE and editor specific files
.vscode/
.idea/

# Ignore logs and temporary files
logs/
temp/

# other
nautobot_api_sandbox.egg-info/