# Ignore the virtual environment directory
.venv/

# Ignore compiled Python files
*.pyc

# Ignore IDE and editor specific files
.vscode/
.idea/

# Ignore logs and temporary files
logs/
temp/

# other
nautobot_api_sandbox.egg-info/

# Ignore pytest stuff
__pycache__
*.py[cod]
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# build/dist
dist/